/* --------------
 * Navbar
 * -------------- */

.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -51px;
    display: block;
}

.navbar-icon {
    color: white;
    background-color: #555a5d;
    border: none;
}

.search-bar {
    background-color: #555a5d;
    color: white;
    border: none;
}

@media (max-width: 750px) {
    .navbar-brand {
        left: 16px;
        margin-left: 0;
    }
    .navbar {
        height: 20%;
    }
    .search-bar {
        display: none;
    }
    .search-icon {
        display:inline-block;
    }
}

@media (min-width: 751px) {
    .search-icon {
        display:none;
    }
}

/* --------------
 * Main content
 * -------------- */

.main {
    margin: 20px;
}


/* --------------
 * Cards
 * -------------- */

.card {
    margin: 5px;
}

.card-img-top {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}